body {
    background-color: #1D2D3C;

    color: white;
}

/* header */
header {
    display: flex;
    align-items: center;

    height: 100px;

    background-color: #09141E;

}

.logo{
    width: 50px;
}
/* fine header */


/* main */
.card{
    border: none;

    background-color: #112030;

    cursor: pointer;

    transition: scale .5s ease;
}

.card:hover{
    scale: 1.2;
}

.card .poster{
    width: 150px;
}

.card .poster .poster-image{
    width: 100%;
}


/* fine main */

